@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  height: 100%;
  color: #fff;

}

.wrapper {
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
}

body{
  background-color: #0f0f0f;
}

* {
  box-sizing: border-box;
}